{# AppBundle/Resources/views/Entity/Supplier/Table/th.html.twig #}
<th class="small-fixed">
    <a href="#">ID</a>
</th>
<th>
    <a href="#">Название</a>
</th>
<th>
    <a href="#">Телефон</a>
</th>
<th>
    <a href="#">E-mail</a>
</th>
<th>
    <a href="#">Контракт (от)</a>
</th>
<th>
    <a href="#">Контракт (до)</a>
</th>