{# AppBundle/Resources/views/Entity/VendingMachine/Table/th.html.twig #}
<th class="small-fixed">
    <a href="#">ID</a>
</th>
<th>
    <a href="#">Серийный номер</a>
</th>
<th>
    <a href="#">Имя</a>
</th>
<th>
    <a href="#">Синхронизация</a>
</th>
<th>
    <a href="#">Группа автоматов</a>
</th>
<th>
    <a href="#">Школа</a>
</th>
<th>
    <a href="#">Населенный пункт</a>
</th>
<th>
    <a href="#">Регион</a>
</th>
