{# AppBundle/Resources/views/Entity/NfcTag/Table/th.html.twig #}
<th class="small-fixed">
    <a href="#">ID</a>
</th>
<th>
    <a href="#">Номер</a>
</th>
<th>
    <a href="#">Код</a>
</th>
<th>
    <a href="#">Ученик</a>
</th>