{# AppBundle/Resources/views/Dashboard/Form/Theme/form.html.twig #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <span class="server-error">{{ error.message }}</span>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_label %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label for="{{ id }}">
        {{ label|trans({}, 'forms') }}
        {% if required %}
            <span class="required-field">*</span>
        {% endif %}
    </label>
{% endblock %}