{# AppBundle/Resources/views/Website/Common/footer.html.twig #}
<div class="inner">
    <div class="logo">
        <a href="#"><img src="{{ asset('bundles/app/website/images/logo-white.png') }}" alt="Дорога Здоров'я"></a>
    </div>
    <ul class="social-holder">
        <li>
            <a href="#" class="hr-facebook hr-small"></a>
        </li>
        <li>
            <a href="#" class="hr-vk hr-small"></a>
        </li>
        <li>
            <a href="#" class="hr-twitter hr-small"></a>
        </li>
        <li>
            <a href="#" class="hr-gplus hr-small"></a>
        </li>
    </ul>
    <small class="copyright">(с) 2015 ТОВ "Дорога Здоров'я". Всі права захищено</small>
    <div class="developers">
        <p>Розроблено веб-агенством</p>
        <a href="#"><img src="{{ asset('bundles/app/website/images/cheers.png') }}" alt="Developed by CHEERS! Unlimited web-agency"></a>
    </div>
</div>