{# AppBundle/Resources/views/Website/Common/messages.html.twig #}
{% if messages.success is defined %}
    <div class="golbal-response-holder success">
        <span>{{ messages.success.0 }}</span>
    </div>
{% elseif messages.errors is defined %}

    {% for error in messages.errors %}
        <div class="golbal-response-holder error">
          <span>{{ error }}</span>
        </div>
    {% endfor %}

{% endif %}
