{# src/AppBundle/Resources/views/Entity/ActivationNfcTag/Info/activationNfcTag.html.twig #}
<p>
    NFC-метка активирована
</p>
<p>
    NFC-метка была активирована {{ nfcTag.activatedAt|date('d-m-Y') }}, в {{ nfcTag.activatedAt|date('H:i') }}
</p>
