/.idea/

/app/bootstrap.php.cache
/app/phpunit.xml
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/config/common/parameters.yml

/bin/

/src/AppBundle/Resources/front/dashboard/node_modules/*
/src/AppBundle/Resources/front/dashboard/jspm_packages/*
/src/AppBundle/Resources/front/website/node_modules/*
/src/AppBundle/Resources/front/website/jspm_packages/*
/src/AppBundle/Resources/public/*
/src/AppBundle/Resources/reports/*

/vendor/

/www/bundles/
/www/uploads/

/composer.lock