/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/


/.idea/

/app/bootstrap.php.cache
/app/phpunit.xml
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/config/common/parameters.yml

/bin/

/vendor/

/www/bundles/
/www/uploads/

/composer.lock