{# AppBundle/Resources/views/Entity/Customer/Table/th.html.twig #}
<th class="small-fixed">
    <a href="#">ID</a>
</th>
<th>
    <a href="#">Номер телефона</a>
</th>
<th>
    <a href="#">ФИО</a>
</th>
<th>
    <a href="#">Активен</a>
</th>