<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>

        {% block metadata %}{% endblock %}

        {% block locale %}{% endblock %}

        {% block favicons %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}">
        {% endblock %}

        {% block stylesheets %}{% endblock %}

        {% block google_analytics %}{% endblock %}

    </head>
    <body>

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}

    </body>
</html>