{# AppBundle/Resources/views/Entity/Purchase/Base/table.html.twig #}
{% extends ( standalone is defined ) ? '::void.html.twig' : 'AppBundle:Entity/Purchase/Base:list.html.twig' %}

{% block variable %}
    <div class="outer scrollable-holder">
        <div class="inner scrollable">

            {% if purchases|length %}
                <table>
                    <tr>

                        {% include 'AppBundle:Entity/Purchase/Table:th.html.twig' %}

                        {% block action_items_th %}{% endblock %}

                    </tr>

                    {% for purchase in purchases %}
                        <tr>

                            {% include 'AppBundle:Entity/Purchase/Table:tr.html.twig' with { 'purchase': purchase } only %}

                            {% block action_items_tr %}{% endblock %}

                        </tr>
                    {% endfor %}

                </table>
            {% else %}
                <div class="empty-holder">
                    <h2>{{ 'dashboard.table.empty.title'|trans }}</h2>
                    <p>{{ 'dashboard.table.empty.text'|trans }}</p>
                </div>
            {% endif %}

        </div>
    </div>
    <div class="bottom-info-panel">
        {% block action_button %}{% endblock %}

        {% include 'AppBundle:Dashboard/Common:pagination.html.twig' only %}
    </div>
{% endblock %}