{# src/AppBundle/Resources/views/Entity/BanknoteList/Table/th.html.twig #}
<th class="small-fixed">
    <a href="#">ID</a>
</th>
<th>
    <a href="#">Валюта</a>
</th>
<th>
    <a href="#">Номинал</a>
</th>
<th>
    <a href="#">Количество</a>
</th>
<th>
    <a href="#">Общая сумма</a>
</th>
