{# src/AppBundle/Resources/views/Entity/PurchaseService/Binding/show.html.twig #}
{% extends 'AppBundle:Entity/PurchaseService/Base:table.html.twig' %}

{% block action_items_th %}
    <th class="double-small-fixed">
        <span>управление</span>
    </th>
{% endblock %}

{% block action_items_tr %}

    <td class="double-small-fixed view-holder">
        <div class="btn-view">
            <a href="{{ path('purchase_service_read', { 'id': purchaseService.id }) }}" class="icon hrd-view"></a>
        </div>
    </td>

{% endblock %}
