{# AppBundle/Resources/views/Entity/School/Table/th.html.twig #}
<th class="small-fixed">
    <a href="#">ID</a>
</th>
<th>
    <a href="#">Название</a>
</th>
<th>
    <a href="#">Адрес</a>
</th>
<th>
    <a href="#">Населенный пункт</a>
</th>
<th>
    <a href="#">Регион</a>
</th>