{# AppBundle/Resources/views/Entity/Product/Base/table.html.twig #}
{% extends ( standalone is defined ) ? '::void.html.twig' : 'AppBundle:Entity/Product/Base:list.html.twig' %}

{% block variable %}
    <div class="outer scrollable-holder">
        <div class="inner scrollable">

            {% if products|length %}
                <table>
                    <tr>

                        {% include 'AppBundle:Entity/Product/Table:th.html.twig' %}

                        {% block action_items_th %}{% endblock %}

                    </tr>

                    {% for product in products %}

                        {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\ProductVoter::PRODUCT_READ'), product) %}
                            <tr class="photo-row">

                                {% include 'AppBundle:Entity/Product/Table:tr.html.twig' with { 'product': product } only %}

                                {% block action_items_tr %}{% endblock %}

                            </tr>
                        {% endif %}

                    {% endfor %}

                </table>
            {% else %}
                <div class="empty-holder">
                    <h2>{{ 'dashboard.table.empty.title'|trans }}</h2>
                    <p>{{ 'dashboard.table.empty.text'|trans }}</p>
                </div>
            {% endif %}

        </div>
    </div>
    <div class="bottom-info-panel">
        {% block action_button %}{% endblock %}

        {% include 'AppBundle:Dashboard/Common:pagination.html.twig' only %}
    </div>
{% endblock %}