{# AppBundle/Resources/views/Dashboard/Common/pagination.html.twig #}
<div id="pagination-holder">
    <ul>
        <li class="active">
            <a href="#">1</a>
        </li>
        <li class="dots">
            <span></span>
        </li>
        <li>
            <a href="#">2</a>
        </li>
        <li>
            <a href="#">3</a>
        </li>
        <li>
            <a href="#">4</a>
        </li>
        <li>
            <a href="#">5</a>
        </li>
        <li class="dots">
            <span></span>
        </li>
        <li>
            <a href="#">21</a>
        </li>
    </ul>
</div>