{# src/AppBundle/Resources/views/Dashboard/Common/search.html.twig #}
<form action="" method="GET">
    <input type="text" name="search" value="{{ searchArgument }}">
</form>
<a href="?search={{ null }}" class="cancel hrd-cancel"></a>
