{# AppBundle/Resources/views/Entity/VendingMachineLoad/Table/th.html.twig #}
<th class="small-fixed">
    <a href="#">ID</a>
</th>
<th>
    <a href="#">Торговый автомат</a>
</th>
<th>
    <a href="#">Номер пружины</a>
</th>
<th>
    <a href="#">Идентификатор продукта</a>
</th>
<th>
    <a href="#">Количество продуктов</a>
</th>