{# AppBundle/Resources/views/Entity/Product/Table/th.html.twig #}
<th>
    <a href="#">ID</a>
</th>
<th class="trpl-small-fixed">
    <span>Фотография</span>
</th>
<th>
    <a href="#">Название</a>
</th>
<th>
    <a href="#">Код</a>
</th>
<th>
    <a href="#">Цена</a>
</th>
<th>
    <a href="#">Поставщик</a>
</th>