{# AppBundle/Resources/views/Entity/School/Base/table.html.twig #}
{% extends ( standalone is defined ) ? '::void.html.twig' : 'AppBundle:Entity/School/Base:list.html.twig' %}

{% block variable %}
    <div class="outer scrollable-holder">
        <div class="inner scrollable">
            <table>
                <tr>

                    {% include 'AppBundle:Entity/School/Table:th.html.twig' %}

                    {% block action_items_th %}{% endblock %}

                </tr>

                {% for school in schools %}
                    <tr>

                        {% include 'AppBundle:Entity/School/Table:tr.html.twig' with { 'school': school } only %}

                        {% block action_items_tr %}{% endblock %}

                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
    <div class="bottom-info-panel">
        {% block action_button %}{% endblock %}

        {% include 'AppBundle:Dashboard/Common:pagination.html.twig' only %}
    </div>
{% endblock %}