{# AppBundle/Resources/views/Entity/VendingMachine/Binding/choose.html.twig #}
{% extends 'AppBundle:Entity/VendingMachine/Base:table.html.twig' %}

{% block action_items_th %}
    <th colspan="2" class="double-small-fixed">
        <span>управление</span>
    </th>
{% endblock %}

{% block action_items_tr %}
    <td class="small-fixed edit-holder">
        <div class="btn-edit">
            <a href="{{ path('vending_machine_update', { 'id': vendingMachine.id }) }}" class="icon hrd-edit"></a>
        </div>
    </td>

    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\VendingMachineVoter::VENDING_MACHINE_BIND'), vendingMachine) %}
        <td class="small-fixed bind-holder">

            {% set isBinded = object.vendingMachines.contains(vendingMachine) %}

            <div class="btn-bind {{ ( isBinded ) ? 'binded' : null }}">

                {% set path = ( isBinded ) ? 'vending_machine_unbind' : 'vending_machine_bind' %}

                <a href="{{ path(path, { 'targetId': vendingMachine.id, 'objectClass': class(object)|lower, 'objectId': object.id }) }}" class="icon hrd-bind"></a>
            </div>
        </td>
    {% endif %}
{% endblock %}

{% block action_button %}
    <div id="action-holder">
        <div id="action-holder" class="manage-holder">
            <div class="btn-connect">
                <a href="{{ path('school_update_bounded', { 'objectId': object.id, 'objectClass': class(vendingMachines.0)|lower }) }}">Готово</a>
            </div>
        </div>
    </div>
{% endblock %}