{# AppBundle/Resources/views/Entity/Product/Binding/choose.html.twig #}
{% extends 'AppBundle:Entity/Product/Base:table.html.twig' %}

{% block action_items_th %}
    <th class="double-small-fixed">
        <span>управление</span>
    </th>
{% endblock %}

{% block action_items_tr %}

    {% set isBinded = object.products.contains(product) %}

    {% set path = ( isBinded ) ? 'product_unbind' : 'product_bind' %}

    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\ProductVoter::PRODUCT_BIND'), product) %}
        <td class="small-fixed bind-holder">
            <div class="btn-bind {{ ( isBinded ) ? 'binded' : null }}">
                <a href="{{ path(path, { 'targetId': product.id, 'objectClass': class(object)|lower, 'objectId': object.id }) }}" class="icon hrd-bind"></a>
            </div>
        </td>
    {% endif %}

{% endblock %}

{% block action_button %}
    <div id="action-holder">
        <div id="action-holder" class="manage-holder">
            <div class="btn-connect">
                <a href="{{ path(path, { 'objectId': object.id, 'objectClass': 'product' }) }}">Готово</a>
            </div>
        </div>
    </div>
{% endblock %}