{# AppBundle/Resources/views/Entity/Purchase/Binding/show.html.twig #}
{% extends 'AppBundle:Entity/Purchase/Base:table.html.twig' %}

{% block action_items_th %}
    <th class="double-small-fixed">
        <span>управление</span>
    </th>
{% endblock %}

{% block action_items_tr %}

    <td class="double-small-fixed view-holder">
        <div class="btn-view">
            <a href="{{ path('purchase_read', { 'id': purchase.id }) }}" class="icon hrd-view"></a>
        </div>
    </td>

{% endblock %}