{# AppBundle/Resources/views/Entity/Settlement/item.html.twig #}
{% extends 'AppBundle:Dashboard:layout.html.twig' %}

{% block content %}
    {% block data %}{% endblock %}

    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\SettlementVoter::SETTLEMENT_DELETE'), settlement) %}
        <p>
            <a href="{{ path('settlement_delete', { 'id': settlement.id }) }}">Удалить</a>
        </p>
    {% endif %}

    <p>-------------------------------------------------------------------------------------------------</p>
    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\SettlementVoter::SETTLEMENT_BIND'), settlement) %}
        <p>
            <a href="{{ path('school_choose', { 'objectClass': class(settlement)|lower, 'objectId': settlement.id }) }}">@ Привязать школу</a>
        </p>
    {% endif %}

    <p>Школы:</p>
    <p>-------------------------------------------------------------------------------------------------</p>
    {% if settlement.schools %}
        {{ render(controller('AppBundle:Binding/School:show', { 'objectClass': class(settlement)|lower, 'objectId': settlement.id })) }}
    {% endif %}
{% endblock %}