{# AppBundle/Resources/views/Entity/Settlement/list.html.twig #}
{% extends 'AppBundle:Dashboard:layout.html.twig' %}

{% block content %}
    {% block action_button %}{% endblock %}

    {% for settlement in settlements %}
        <p>
            <a href="{{ path('settlement_update', { 'id': settlement.id }) }}">{{ settlement.name }}</a>
            | {{ ( settlement.region ) ? settlement.region.name : 'No region set' }}
            {% block action %}{% endblock %}
        </p>
    {% endfor %}

    {% block button %}{% endblock %}
{% endblock %}