{# AppBundle/Resources/views/Entity/PaymentReceipt/Table/thReplenish.html.twig #}
<th>
    <a href="#">Номер поручения</a>
</th>
<th>
    <a href="#">Дата поручения</a>
</th>
<th>
    <a href="#">Номер NFC-метки</a>
</th>
<th>
    <a href="#">ФИО плательщика</a>
</th>
<th>
    <a href="#">Принятая сумма</a>
</th>
<th>
    <a href="#">Комиссия с получателя</a>
</th>
<th>
    <a href="#">Перечислено</a>
</th>
<th>
    <a href="#">Статус платежа</a>
</th>
