{# AppBundle/Resources/views/Entity/Student/Table/th.html.twig #}
<th class="small-fixed">
    <a href="#">ID</a>
</th>
<th>
    <a href="#">ФИО</a>
</th>
<th>
    <a href="#">Пол</a>
</th>
<th>
    <a href="#">Дата рождения</a>
</th>
<th>
    <a href="#">Родитель</a>
</th>
<th>
    <a href="#">Школа</a>
</th>