{# AppBundle/Resources/views/Entity/Student/Binding/ancestors.html.twig #}
{% if sibling.student is defined and sibling.student is not null %}
    <table>
        <tr>

            {% include 'AppBundle:Entity/Student/Table:th.html.twig' %}

            <th colspan="2" class="double-small-fixed">
                <span>управление</span>
            </th>

        </tr>
        <tr>

            {% include 'AppBundle:Entity/Student/Table:tr.html.twig' with { 'student': sibling.student } only %}

            {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\StudentVoter::STUDENT_UPDATE'), sibling.student) %}
                <td class="double-small-fixed edit-holder">
                    <div class="btn-edit">
                        <a href="{{ path('student_update', { 'id': sibling.student.id }) }}" class="icon hrd-edit"></a>
                    </div>
                </td>
            {% else %}
                <td class="double-small-fixed view-holder">
                    <div class="btn-view">
                        <a href="{{ path('student_read', { 'id': sibling.student.id }) }}" class="icon hrd-view"></a>
                    </div>
                </td>
            {% endif %}

        </tr>
    </table>
{% elseif sibling.students is defined %}

    {# Does not exists for now #}

{% endif %}