{# AppBundle/Resources/views/Entity/Region/list.html.twig #}
{% extends 'AppBundle:Dashboard:layout.html.twig' %}

{% block content %}
    {% block action_button %}{% endblock %}

    {% for region in regions %}
        <p>
            <a href="{{ path('region_update', { 'id': region.id }) }}">{{ region.name }}</a>
            {% block action %}{% endblock %}
        </p>
    {% endfor %}

    {% block button %}{% endblock %}
{% endblock %}