{# AppBundle/Resources/views/Dashboard/State/index.html.twig #}
{% extends 'AppBundle:Dashboard:layout.html.twig' %}

{% block metadata %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta http-equiv="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">
{% endblock %}

{% block body %}
    <div id="page">
        <header id="header">
            <div id="toggle-menu-loader">
                <div class="inner loader">
                    <span class="circle"></span>
                    <span class="circle"></span>
                    <span class="circle"></span>
                    <span class="circle"></span>
                    <span class="circle"></span>
                </div>
                <div class="inner menu-button">
                    <a href="#" class="hrd-squares"></a>
                </div>
            </div>
            <div class="entitled"><h1>Дорога Здоровья</h1></div>
            <div id="status-panel-holder">
                <div class="inner default-holder">

                    {{ render(controller('AppBundle:Dashboard/CommonDashboard:breadcrumbs', { 'request': app.request })) }}

                    {{ render(controller('AppBundle:Dashboard/CommonDashboard:toolbar', { 'request': app.request })) }}

                </div>
                <div class="inner success-holder">
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                </div>
                <div class="inner warning-holder">
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                </div>
                <div class="inner error-holder">
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                </div>
                <div class="inner info-holder">
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                </div>
            </div>
        </header>
        <main id="content">
            <aside id="navigation-holder">
                <div class="inner">

                    {{ render(controller('AppBundle:Dashboard/CommonDashboard:entities', { 'request': app.request })) }}

                </div>
            </aside>

            {% block content %}{% endblock %}

            <div id="confirm-holder">
                <div class="inner">
                    <div class="buttons-holder">
                        <span class="confirm-button accept hrd-accept" data-confirm="true"></span>
                        <span class="confirm-button cancel hrd-cancel" data-confirm="false"></span>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}