{# AppBundle/Resources/views/Entity/Settlement/CRUD/updateItem.html.twig #}
{% extends 'AppBundle:Entity/Settlement/Base:item.html.twig' %}

{% block active_settlement_update %}{{ 'class="active"' }}{% endblock %}

{% block data %}

    {% include 'AppBundle:Entity/Settlement/Form:form.html.twig' with { 'form': form, 'settlement': settlement } only %}

{% endblock %}

{% block action_bottom %}
    <div id="action-holder" class="manage-holder">

        {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\SettlementVoter::SETTLEMENT_DELETE'), settlement) %}
            <div class="btn-delete black">
                <a href="{{ path('settlement_delete', { 'id': settlement.id }) }}" class="icon hrd-delete"></a>
            </div>
        {% endif %}

        <button type="submit" form="add-staff-form" class="btn-save back">
            <span>Сохранить и вернуться</span>
        </button>
        <button type="submit" form="add-staff-form" class="btn-save">
            <span>Сохранить</span>
        </button>
    </div>
{% endblock %}