{# AppBundle/Resources/views/Entity/VendingMachine/item.html.twig #}
{% extends 'AppBundle:Dashboard:layout.html.twig' %}

{% block content %}
    {% block data %}{% endblock %}

    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\VendingMachineVoter::VENDING_MACHINE_DELETE'), vendingMachine) %}
        <p>
            <a href="{{ path('vending_machine_delete', { 'id': vendingMachine.id }) }}">Удалить</a>
        </p>
    {% endif %}

    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\VendingMachineVoter::VENDING_MACHINE_BIND'), vendingMachine) %}
        <p>-------------------------------------------------------------------------------------------------</p>
        <p>
            <a href="{{ path('nfc_tag_choose', { 'objectClass': class(vendingMachine)|lower, 'objectId': vendingMachine.id }) }}">@ Привязать NFC-метку</a>
        </p>
    {% endif %}

    <p>NFC-метки:</p>
    <p>-------------------------------------------------------------------------------------------------</p>
    {% if vendingMachine.nfcTags %}
        {{ render(controller('AppBundle:Binding/NfcTag:show', { 'objectClass': class(vendingMachine)|lower, 'objectId': vendingMachine.id })) }}
    {% endif %}
{% endblock %}