{# AppBundle/Resources/views/Entity/ProductVendingGroup/CRUD/readList.html.twig #}
{% extends 'AppBundle:Entity/ProductVendingGroup:list.html.twig' %}

{% block action_button %}
    {% if product_vending_group_boundless_access.isGranted(constant('AppBundle\\Service\\Security\\ProductVendingGroupBoundlessAccess::PRODUCT_VENDING_GROUP_CREATE')) %}
        <a href="{{ path('product_vending_group_create') }}">+ Создать группу торговых автоматов<a>
        <p>-------------------------------------------------------------------------------------------------</p>
    {% endif %}
{% endblock %}

{% block action %}
    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\ProductVendingGroupVoter::PRODUCT_VENDING_GROUP_DELETE'), productVendingGroup) %}
        <a href="{{ path('product_vending_group_delete', { 'id': productVendingGroup.id }) }}">[X]</a>
    {% endif %}
{% endblock %}