{# AppBundle/Resources/views/Entity/Supplier/item.html.twig #}
{% extends 'AppBundle:Dashboard:layout.html.twig' %}

{% block content %}
    {% block data %}{% endblock %}

    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\SupplierVoter::SUPPLIER_DELETE'), supplier) %}
        <p>
            <a href="{{ path('supplier_delete', { 'id': supplier.id }) }}">Удалить</a>
        </p>
    {% endif %}

    <p>-------------------------------------------------------------------------------------------------</p>
    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\SupplierVoter::SUPPLIER_BIND'), supplier) %}
        <p>
            <a href="{{ path('product_choose', { 'objectClass': class(supplier)|lower, 'objectId': supplier.id }) }}">@ Привязать продукт</a>
        </p>
    {% endif %}

    <p>Продукты:</p>
    <p>-------------------------------------------------------------------------------------------------</p>
    {% if supplier.products %}
        {{ render(controller('AppBundle:Binding/Product:show', { 'objectClass': class(supplier)|lower, 'objectId': supplier.id })) }}
    {% endif %}
{% endblock %}