{# AppBundle/Resources/views/Entity/Supplier/list.html.twig #}
{% extends 'AppBundle:Dashboard:layout.html.twig' %}

{% block content %}
    {% block action_button %}{% endblock %}

    {% for supplier in suppliers %}
        <p>
            <a href="{{ path('supplier_update', { 'id': supplier.id }) }}">{{ supplier.name }}</a>
            {% block action %}{% endblock %}
        </p>
    {% endfor %}

    {% block button %}{% endblock %}
{% endblock %}