{# AppBundle/Resources/views/Entity/Student/CRUD/readList.html.twig #}
{% extends 'AppBundle:Entity/Student:list.html.twig' %}

{% block action_button %}
    {% if student_boundless_access.isGranted(constant('AppBundle\\Service\\Security\\StudentBoundlessAccess::STUDENT_CREATE')) %}
        <a href="{{ path('student_create') }}">+ Создать ученика<a>
        <p>-------------------------------------------------------------------------------------------------</p>
    {% endif %}
{% endblock %}

{% block action_items %}
    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\StudentVoter::STUDENT_DELETE'), student) %}
        <a href="{{ path('student_delete', { 'id': student.id }) }}">[X]</a>
    {% endif %}
{% endblock %}