{# AppBundle/Resources/views/Entity/Employee/CRUD/updateItem.html.twig #}
{% extends 'AppBundle:Entity/Employee/Base:item.html.twig' %}

{% block action_top %}
    <div class="inner categories-list-holder">
        <ul>
            <li class="active">
                <a href="#">Данные</a>
            </li>
            {% if employee.regions %}
                <li>
                    <a href="#">Регионы</a>
                </li>
            {% endif %}
            {% if employee.schools %}
                <li>
                    <a href="#">Школы</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block data %}

    {% include 'AppBundle:Entity/Employee/Form:form.html.twig' with {'form': form} only %}

{% endblock %}

{% block action_bottom %}
    <div id="action-holder" class="manage-holder">
        <div class="btn-delete black">
            <a href="#" class="icon hrd-delete"></a>
        </div>
        <button type="submit" form="add-staff-form" class="btn-save back">
            <span>Сохранить и вернуться</span>
        </button>
        <button type="submit" form="add-staff-form" class="btn-save">
            <span>Сохранить</span>
        </button>
    </div>
{% endblock %}