{# AppBundle/Resources/views/Entity/ProductVendingGroup/list.html.twig #}
{% extends 'AppBundle:Entity/ProductVendingGroup:layout.html.twig' %}

{% block action_top %}
    <div class="inner categories-list-holder">
        <ul>
            <li class="active"><a href="{{ path('product_vending_group_read') }}">Все</a></li>
        </ul>
    </div>
{% endblock %}