{# AppBundle/Resources/views/Entity/VendingMachineEvent/Table/th.html.twig #}
<th class="small-fixed">
    <a href="#">ID</a>
</th>
<th>
    <a href="#">Дата и время</a>
</th>
<th>
    <a href="#">Торговый автомат</a>
</th>
<th>
    <a href="#">Тип</a>
</th>
<th>
    <a href="#">Код</a>
</th>
<th>
    <a href="#">Сообщение</a>
</th>