{# AppBundle/Resources/views/Entity/School/CRUD/readList.html.twig #}
{% extends 'AppBundle:Entity/School/Base:table.html.twig' %}

{% block action_items_th %}
    <th colspan="2" class="double-small-fixed">
        <span>управление</span>
    </th>
{% endblock %}

{% block action_items_tr %}
    <td class="small-fixed edit-holder">
        <div class="btn-edit">
            <a href="{{ path('school_update', { 'id': school.id }) }}" class="icon hrd-edit"></a>
        </div>
    </td>

    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\SchoolVoter::SCHOOL_DELETE'), school) %}
        <td class="small-fixed delete-holder">
            <div class="btn-delete">
                <a href="{{ path('school_delete', { 'id': school.id }) }}" class="icon hrd-delete"></a>
            </div>
        </td>
    {% endif %}
{% endblock %}

{% block action_button %}
    {% if school_boundless_access.isGranted(constant('AppBundle\\Service\\Security\\SchoolBoundlessAccess::SCHOOL_CREATE')) %}
        <div id="action-holder">
            <div class="btn-add">
                <a href="{{ path('school_create') }}">
                    <span class="icon hrd-add"></span>Добавить
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}