{# AppBundle/Resources/views/Entity/VendingMachine/CRUD/createItem.html.twig #}
{% extends 'AppBundle:Entity/VendingMachine/Base:item.html.twig' %}

{% block action_top %}
    <div class="inner categories-list-holder">
        <ul>
            <li class="active">
                <a href="{{ path('vending_machine_create') }}">Ввод данных</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block data %}

    {% include 'AppBundle:Entity/VendingMachine/Form:form.html.twig' with { 'form': form } only %}

{% endblock %}

{% block action_bottom %}
    <div id="action-holder" class="manage-holder">
        <button type="submit" form="add-staff-form" class="btn-save back">
            <span>Добавить и вернуться</span>
        </button>
        <button type="submit" form="add-staff-form" class="btn-save">
            <span>Добавить</span>
        </button>
    </div>
{% endblock %}