{# AppBundle/Resources/views/Entity/VendingMachine/CRUD/readList.html.twig #}
{% extends 'AppBundle:Entity/VendingMachine:list.html.twig' %}

{% block action_button %}
    {% if vending_machine_boundless_access.isGranted(constant('AppBundle\\Service\\Security\\VendingMachineBoundlessAccess::VENDING_MACHINE_CREATE')) %}
        <a href="{{ path('vending_machine_create') }}">+ Создать торговый автомат<a>
        <p>-------------------------------------------------------------------------------------------------</p>
    {% endif %}
{% endblock %}

{% block action %}
    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\VendingMachineVoter::VENDING_MACHINE_DELETE'), vendingMachine) %}
        <a href="{{ path('vending_machine_delete', { 'id': vendingMachine.id }) }}">[X]</a>
    {% endif %}
{% endblock %}