{# AppBundle/Resources/views/Entity/Employee/Table/th.html.twig #}
<th class="small-fixed">
    <a href="#">ID</a>
</th>
<th>
    <a href="#">Логин</a>
</th>
<th>
    <a href="#">Должность</a>
</th>
<th>
    <a href="#">ФИО</a>
</th>
<th>
    <a href="#">E-mail</a>
</th>
<th>
    <a href="#">Телефон</a>
</th>
<th>
    <a href="#">Активен</a>
</th>