{# AppBundle/Resources/views/Entity/Purchase/Table/th.html.twig #}
<th class="small-fixed">
    <a href="#">ID</a>
</th>
<th>
    <a href="#">Дата и время</a>
</th>
<th>
    <a href="#">Продукт</a>
</th>
<th>
    <a href="#">Торговый автомат</a>
</th>
<th>
    <a href="#">NFC-метка</a>
</th>
<th>
    <a href="#">Ученик</a>
</th>
<th>
    <a href="#">Цена</a>
</th>
