{# AppBundle/Resources/views/Entity/ProductVendingGroup/Table/tr.html.twig #}
<td class="small-fixed"><span>{{ productVendingGroup.id }}</span></td>
<td>
    <span>
        {{ productVendingGroup.name }}
    </span>
</td>