{# AppBundle/Resources/views/Entity/Region/Binding/bounded.html.twig #}
{% extends 'AppBundle:Entity/Region/Base:item.html.twig' %}

{% block active_region_update_bounded_settlement %}
    {% if objectClass is same as('settlement') %}
        {{ 'class="active"' }}
    {% endif %}
{% endblock %}

{% block action_search %}
    <div id="search-widget">
        {{ render(controller('AppBundle:Dashboard/CommonDashboard:search')) }}
    </div>
{% endblock %}

{% block variable %}

    {{ bounded|raw }}

{% endblock %}
