{# AppBundle/Resources/views/Entity/Settlement/Base/item.html.twig #}
{% extends 'AppBundle:Entity/Settlement:layout.html.twig' %}

{% block action_top %}
    <div class="inner categories-list-holder">
        <ul>
            <li {% block active_settlement_update %}{% endblock %}>
                <a href="{{ path('settlement_update', { 'id': settlement.id }) }}">Данные</a>
            </li>

            {% if settlement.schools %}
                <li {% block active_settlement_update_bounded_school %}{% endblock %}>
                    <a href="{{ path('settlement_update_bounded', { 'objectId': settlement.id, 'objectClass': 'school' }) }}">
                        {{ 'school_read'|trans({}, 'routes') }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}