{# AppBundle/Resources/views/Entity/NfcTag/item.html.twig #}
{% extends 'AppBundle:Dashboard:layout.html.twig' %}

{% block content %}
    {% block data %}{% endblock %}

    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\NfcTagVoter::NFC_TAG_DELETE'), nfcTag) %}
        <p>
            <a href="{{ path('nfc_tag_delete', { 'id': nfcTag.id }) }}">Удалить</a>
        </p>
    {% endif %}

    <p>-------------------------------------------------------------------------------------------------</p>
    <p>Ученик:</p>
    <p>-------------------------------------------------------------------------------------------------</p>
    {% include 'AppBundle:Entity/Student/Binding:ancestors.html.twig' with { 'sibling': nfcTag } only %}
{% endblock %}