{# src/AppBundle/Resources/views/Entity/Transaction/Base/list.html.twig #}
{% extends 'AppBundle:Entity/Transaction:layout.html.twig' %}

{% block action_top %}
    <div class="inner categories-list-holder">
        <ul>
            <li class="active"><a href="{{ path('transaction_read') }}">Пополнения</a></li>
        </ul>
    </div>
{% endblock %}
