{# AppBundle/Resources/views/Entity/Customer/CRUD/readList.html.twig #}
{% extends 'AppBundle:Entity/Customer:list.html.twig' %}

{% block action_button %}
    {% if customer_boundless_access.isGranted(constant('AppBundle\\Service\\Security\\CustomerBoundlessAccess::CUSTOMER_CREATE')) %}
        <a href="{{ path('customer_create') }}">+ Создать родителя<a>
        <p>-------------------------------------------------------------------------------------------------</p>
    {% endif %}
{% endblock %}

{% block action_items %}
    {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\CustomerVoter::CUSTOMER_DELETE'), customer) %}
        <a href="{{ path('customer_delete', { 'id': customer.id }) }}">[X]</a>
    {% endif %}
{% endblock %}