{# AppBundle/Resources/views/Entity/VendingMachineEvent/Base/list.html.twig #}
{% extends ( standalone is defined ) ? '::void.html.twig' : 'AppBundle:Entity/VendingMachineEvent/Base:list.html.twig' %}

{% block action_search %}
    <div id="search-widget">
        {{ render(controller('AppBundle:Dashboard/CommonDashboard:search')) }}
    </div>
{% endblock %}

{% block variable %}
    <div class="outer scrollable-holder">
        <div class="inner scrollable">

            {% if vendingMachineEvents|length %}
                <table>
                    <tr>

                        {% include 'AppBundle:Entity/VendingMachineEvent/Table:th.html.twig' %}

                        {% block action_items_th %}{% endblock %}

                    </tr>

                    {% for vendingMachineEvent in vendingMachineEvents %}
                        <tr>

                            {% include 'AppBundle:Entity/VendingMachineEvent/Table:tr.html.twig' with { 'vendingMachineEvent': vendingMachineEvent } only %}

                            {% block action_items_tr %}{% endblock %}

                        </tr>
                    {% endfor %}

                </table>
            {% else %}
                <div class="empty-holder">
                    <h2>{{ 'dashboard.table.empty.title'|trans }}</h2>
                    <p>{{ 'dashboard.table.empty.text_sync'|trans }}</p>
                </div>
            {% endif %}

        </div>
    </div>
    <div class="bottom-info-panel">
        {% block action_button %}{% endblock %}

        {{ render(controller('AppBundle:Dashboard/CommonDashboard:pagination')) }}
    </div>
{% endblock %}
